@font-face {
    font-family: 'Young Serif';
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

img {
    margin-bottom: 20px;
}

#page {
    padding: 0 2rem 0;
}

/*------------------------------------------------------------------------------- Intro section */

h1 {
    font-family: 'Young Serif', sans-serif;
    font-size: 34px;
}

#intro p {
    margin: 20px 0;
}

#prep-time-container {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
}

#prep-time-container h4 {
    color: hsl(332, 51%, 32%);
    font-size: 20px;
}

#prep-time-container ul {
    padding: 0 30px;
}

#prep-time-container ul li {
    padding: 10px 0;
}